@import url("https://fonts.googleapis.com/css?family=Cookie");

/* enter green 103 179 27; enter blue 31 169 255 */

body {
    margin: 0;
    background-color: #f0ead6;
}
#nav{
    padding-top: 1%;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    max-height: 13px;
    border-bottom: 5px;
    border-style: solid;
    border-color: rgb(0 0 0);
    border-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(32 35 37);
    color: rgb(223, 242, 255);
}
.nav__tabs{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__tab{
    list-style-type: none;
    display: inline;
    flex: 1 0 auto;
    padding: 0px 5px;
}
.nav__tab__link{
    padding: 10px 0;
    text-decoration: none;
    color: inherit;
}
.spacer-40{
    height: 40px;
}
#header {
    color: rgb(200 215 225);
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
    border-bottom: 5px solid black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    background: radial-gradient(circle, rgb(31 169 255) 0%, rgb(32,35,37) 100%);
}
.header__content{
    text-align: center;
}
.header__title{
    font-size: 100pt;
    font-family: Cookie;
    margin: 0;
}
#body{
    margin-top: 0;
    margin-bottom: 0;
}
.body__content{
    background-color: lightblue;
    margin-top: 0;
    margin: 0 0 0 5%;
}
#first__section{
    border-top: 0 none white;
}
.section{
    border-top: 5em solid lightblue;
    background-color: lightblue;
}
.section__content{
    border: 10px solid lightblue;
    min-height: 13em;
}
.section__title{
    color: rgb(103, 179, 27);
    font-size: 45pt;
}
.section__link{
    color: inherit;
    font-size: inherit;
}
.top__spacer{
    min-height: 5rem;
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(45deg, #f0ead6 25%, lightblue 25%);
} /*135 315 -- 45 225*/
.bottom__spacer{
    min-height: 5rem;
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(225deg, #f0ead6 55%, lightblue 55%);
}
#footer{
    border-top: 5px solid black;
    margin: 0;
    padding-bottom: 1%;
    background-color: rgb(32 35 37);
}
.footer__content{
    color: rgb(155 155 155);
    text-align: center;
}
.margin-0{
    margin: 0;
}