@import url("https://fonts.googleapis.com/css?family=Cookie");

/* 
    colors orange: 255, 165, 0, 100% 
*/

body {
    margin: 0;
    background-color: rgb(150 200 255);
}
#nav{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    border-bottom: 10px;
    border-style: solid;
    border-color: rgb(0 0 0);
    border-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(32 35 37);
    color: rgb(223, 242, 255);
}
#nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
#nav li{
    min-height: 100%;
    max-height: 100%;
    min-width: 16.66%;
    max-width: 16.66%;
    list-style-type: none;
    display: inline;
    flex: 1 0 auto;
    padding: 0px;
    text-align: center;
    padding: 10px 0;
    color: rgb(223, 242, 255);
    background-color: darkgray;
}
#nav li:hover{
    cursor: pointer;
    background-color: black;
}
.spacer-40{
    height: 40px;
}
#main__header{
    color: rgb(200 215 225);
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
    border-bottom: 5px solid rgb(0 0 0);
    margin-top: 0;
    margin-bottom: 0;
    background: radial-gradient(circle, rgb(31 169 255) 0%, rgb(32,35,37) 100%);
    padding-top: 40px;
    padding-bottom: 10px;
}
#sub__header {
    color: rgb(200 215 225);
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
    border-bottom: 5px solid rgb(0 0 0);
    margin-top: 0;
    margin-bottom: 0;
    background: radial-gradient(circle, rgb(31 169 255) 0%, rgb(32,35,37) 100%);
}
.header__content{
    text-align: center;
}
.header__content h1{
    font-size: 175pt;
    font-family: Cookie;
    margin: 0;
}
#body{
    margin-top: 0;
    margin-bottom: 0;
}
#body__content{
    padding-top: 25px;
    background-color: rgb(50, 100, 155, 60%);
    margin: 0 5% 0 5%;
}
.section{
    background-color: inherit;
}
.top__spacer{
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(99, 99, 99, 0);
    background: linear-gradient(45deg, rgb(99 99 99) 25%, rgb(240 234 214) 25%);
}
.top__spacer a{
    text-align: center;
    font-size: 25pt;
    margin-left: 8%;
    color: black;
}
.section__content{
    min-height: 13em;
    margin: 1% 10% 0 1%;
}
.section__title a {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
}
.section__title{
    color: rgb(255, 165, 0, 100%);
    font-size: 25pt;
}
.section__body h4 {
    font-size: 15pt;
    text-align: center;
}
.section__body a{
    color: inherit;
    font-size: inherit;
}
.on-page__game__description{
    text-align: center;
}
.section table{
    margin: 0 auto 0 auto;
    padding: 0 0 5em 0;
}
.section td{
    padding: 0;
}
.section th{
    padding: 0;
    border-bottom: black 5px solid;
}
th.school{
    border-bottom: none;
    padding-top: 10px;
}
.bottom__spacer{
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(99, 99, 99, 0);
    background: linear-gradient(225deg, rgb(99 99 99) 55%, rgb(240 234 214) 55%);
}
#footer{
    border-top: 5px solid rgb(0 0 0);
    margin: 0;
    padding-bottom: 1%;
    background-color: rgb(32 35 37);
}
.footer__content{
    color: rgb(155 155 155);
    text-align: center;
}
.hidden{
    display: none;
}