@import url("https://fonts.googleapis.com/css?family=Cookie");

/* enter green 103 179 27; enter blue 31 169 255 offwhite rgb(240 234 214) */

body {
    margin: 0;
    background-color: rgb(99 99 99);
}
#nav{
    padding-top: 1%;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    height: 30px;
    border-bottom: 5px;
    border-style: solid;
    border-color: rgb(0 0 0);
    border-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(32 35 37);
    color: rgb(223, 242, 255);
}
.nav__tabs{
    margin: 0;
    padding: 0 auto;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    min-width: 100%;
}
.nav__tab{
    min-height: 40px;
    max-height: 40px;
    min-width: 10em;
    max-width: 10em;
    list-style-type: none;
    display: inline;
    flex: 1 0 auto;
    padding: 0px;
    text-align: center;
    padding: 10px 0;
    color: rgb(223, 242, 255);
    background-color: darkgray;
}
.nav__tab:hover{
    cursor: pointer;
    background-color: black;
}
.nav__tab__text{
    text-align: center;
    margin: 0;
    color: inherit;
}
.spacer-40{
    height: 40px;
}
#header {
    color: rgb(200 215 225);
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
    border-bottom: 5px solid rgb(0 0 0);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 10px;
    background: radial-gradient(circle, rgb(31 169 255) 0%, rgb(32,35,37) 100%);
}
.header__content{
    text-align: center;
}
.header__title{
    font-size: 75pt;
    font-family: Cookie;
    margin: 0;
}
#body{
    margin-top: 0;
    margin-bottom: 0;
    min-height: 50rem;
}
.body__content{
    background-color: rgb(240 234 214);
    margin-top: 0;
    margin: 0 0 0 5%;
    min-height: 50rem;
}
#first__section{
    border-top: 0 none white;
}
.section{
    border-top: 5em solid rgb(240 234 214);
    background-color: rgb(240 234 214);
}
.section__content{
    border: 10px solid rgb(240 234 214);
    min-height: 13em;
}
.section__title{
    color: rgb(103, 179, 27);
    font-size: 25pt;
}
.section__link{
    color: inherit;
    font-size: inherit;
}
.section__text{
    font-size: 15pt;
}
.top__spacer{
    min-height: 5rem;
    color: rgb(99, 99, 99, 0);
    background: linear-gradient(45deg, rgb(99 99 99) 25%, rgb(240 234 214) 25%);
} /*135 315 -- 45 225*/
.bottom__spacer{
    min-height: 5rem;
    color: rgb(99, 99, 99, 0);
    background: linear-gradient(225deg, rgb(99 99 99) 55%, rgb(240 234 214) 55%);
}
#footer{
    border-top: 5px solid rgb(0 0 0);
    margin: 0;
    padding-bottom: 1%;
    background-color: rgb(32 35 37);
}
.footer__content{
    color: rgb(155 155 155);
    text-align: center;
}
.margin-0{
    margin: 0;
}